header {
  border-bottom: 1px solid white;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    li {
      padding-block: 24px;
    }
  }
}

.active {
  color: skyblue;
}

.deactivate {
  color: #ccc;
}
